<nav class="navbar navbar-expand-sm navbar-dark bg-dark box-shadow">
	<div class="container">
		<a href="#" class="navbar-brand font-weight-bold">
			<img src="assets/images/reward.png" width="30" height="30" class="d-inline-block align-top" alt="">
			Reward Calculator
		</a>

		<ul class="navbar-nav mr-auto">
			<li [hidden]="!isAdmin()" class="nav-item">
				<a class="nav-link" routerLink="/users">
					<i class="fas fa-users"></i> Users
				</a>
			</li>
			<li [hidden]="!isAdmin()" class="nav-item">
				<a class="nav-link" routerLink="/paymentperiods">
					<i class="fas fa-calendar-times"></i> Payment Periods
				</a>
			</li>
			<li [hidden]="!isAdmin()" class="btn-group">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true">
					<i class="fab fa-fort-awesome"></i> Organization
				</a>
				<div class="dropdown-menu">
					<a [hidden]="!isAdmin()" class="dropdown-item" routerLink="/departments">
						<i class="fas fa-briefcase"></i> Departments
					</a>
					<a [hidden]="!isAdmin()" class="dropdown-item" routerLink="/positions">
						<i class="fas fa-chess"></i> Positions
					</a>
					<a [hidden]="!isAdmin()" class="dropdown-item" routerLink="/employees">
						<i class="fas fa-user-tie"></i> Employees
					</a>
				</div>
			</li>
			<li [hidden]="!isAdmin()" class="btn-group">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true">
					<i class="fas fa-dollar-sign"></i> Rewards
				</a>
				<div class="dropdown-menu">
					<a [hidden]="!isAdmin()" class="dropdown-item" routerLink="/departmentrewards">
						<i class="fas fa-file-invoice-dollar"></i> Department Rewards
					</a>
					<a [hidden]="!isAdmin()" class="dropdown-item" routerLink="/employeerewards">
						<i class="fas fa-coins"></i> Employee Rewards
					</a>
				</div>
			</li>
		</ul>

		<a *ngIf="isUserLoggedIn()" routerLink="/profile" class="btn btn-sm btn-outline-secondary">
			<span>Profile</span>
			<i class="fas fa-user-alt ml-1"></i>
		</a>
	</div>
</nav>