<!-- Employees Table -->
<div class="container mt-2">
    <div class="row mt-2">
        <div class="col-4">
            <h2 *ngIf="!showingFired" class="text-secondary font-weight-bold"><i class="fas fa-user-tie mr-2"></i>Employees</h2>
            <h2 *ngIf="showingFired" class="text-secondary font-weight-bold"><i class="fas fa-user-slash mr-2"></i>Employees (fired)</h2>
        </div>
        <div class="col-1">

        </div>
        <div class="col-2">
            <select *ngIf="selectedDepartment == null" class="custom-select" (change)="listEmployees()">
                <option value="" selected disabled hidden>Select Department</option>
                <option *ngFor="let department of departments" [ngValue]="department">
                    {{ department.name }}
                </option>
            </select>
            <select *ngIf="selectedDepartment != null" [(ngModel)]="selectedDepartment" class="custom-select" (change)="listEmployees()">
                <option *ngFor="let department of departments" [ngValue]="department">
                    {{ department.name }}
                </option>
            </select>
        </div>
        <div class="col-5 text-right">
            <div class="row">
                <div class="col-6 text-center">
                    <div class="btn-group">
                        <button *ngIf="!showingFired" type="button" (click)="showFiredEmployees()" class="btn btn-outline-warning" title="Show Fired Employees">
                            <i class="fas fa-user-slash"></i> Show Fired
                        </button>
                        <button *ngIf="showingFired" type="button" (click)="listEmployees()" class="btn btn-outline-success" title="Show Fired Employees">
                            <i class="fas fa-user-tie"></i> Show Working
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="btn-group">
                        <button [hidden]="!isAdminOrPersonnelOfficer()" type="button" (click)="makeEmployeeAddFormGroup()" class="btn btn-info mr-2" data-toggle="modal"
                            data-target="#addEmployeeModal" title="Add new Employee">
                            <i class="fas fa-plus"></i> Add Employee
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" (click)="getDepartments()" class="btn btn-light" title="Refresh">
                            <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing"
                                class="fas fa-sync"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table *ngIf="employees?.length > 0" class="table">
        <thead class="thead-dark">
            <tr align="center">
                <th style="width: 3%">#</th>
                <th style="width: 22%">Name</th>
                <th style="width: 29%">Position</th>
                <th style="width: 12%">Salary</th>
                <th style="width: 10%">Rate</th>
                <th style="width: 12%">Chief Position</th>
                <th style="width: 13%" [hidden]="!isAdminOrPersonnelOfficer()">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempEmployee of employees; let i = index" align="center" [ngClass]="{'table-primary' : !showingFired && tempEmployee.position.chiefPosition, 'table-danger' : showingFired}">  
                <td class="align-middle">{{ i + 1 }}</td>
                <td class="align-middle">{{ tempEmployee.name }}</td>
                <td class="align-middle" >{{ tempEmployee.position.name }}</td>
                <td class="align-middle">{{ calculateEmployeeSalary(tempEmployee) }} ₽</td>
                <td class="align-middle">{{ prepareRateForShowing(tempEmployee.rate) }}</td>
                <td class="align-middle">{{ tempEmployee.position.chiefPosition ? 'Yes' : 'No' }}</td>
                <td class="align-middle" [hidden]="!isAdminOrPersonnelOfficer()">
                    <button (click)="prepareEmployeeEditFormGroup(tempEmployee)" class="btn btn-outline-info btn-sm"
                        title="Update Employee" data-toggle="modal" data-target="#editEmployeeModal">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="!showingFired" (click)="fireEmployee(tempEmployee.id, tempEmployee.name)"
                        class="btn btn-outline-warning btn-sm ml-1" title="Fire Employee"><i class="fas fa-user-slash"
                            aria-hidden="true"></i>
                    </button>
                    <button *ngIf="showingFired" (click)="recruitBackEmployee(tempEmployee.id, tempEmployee.name)"
                        class="btn btn-outline-success btn-sm ml-1" title="Recruit Back Employee"><i class="fas fa-user-tie"
                            aria-hidden="true"></i>
                    </button>
                    <button (click)="deleteEmployee(tempEmployee.id, tempEmployee.name)"
                        class="btn btn-outline-danger btn-sm ml-1" title="Delete Employee"><i class="fas fa-trash"
                            aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- if employees is empty then display a message -->
    <div *ngIf="employees?.length == 0" class="container">
        <div class="row">
            <h4 class="alert alert-warning col-md-12">No employees found.</h4>
        </div>
    </div>
</div>

<!-- Employee Add Modal Form -->
<div class="modal draggable fade bd-example-modal-lg" id="addEmployeeModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div>
                    <form [formGroup]="employeeAddFormGroup" (ngSubmit)="onAddNewEmployee()">
                        <div formGroupName="employee" class="text-left">
                            <div class="form-group">
                                <label for="name">Employee Name</label>
                                <input formControlName="name" type="text" class="form-control"
                                    placeholder="Employee name">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="name.errors.required || name.errors.notOnlyWhitespace">
                                        Name is required
                                    </div>
                                    <div *ngIf="name.errors.minlength">
                                        Name must be at least 4 characters long
                                    </div>
                                    <div *ngIf="name.errors.maxlength">
                                        Name must be no more than 70 characters long
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department">Employee Department</label>
                                <select formControlName="department" class="form-control" (change)="getPositionsForAddForm()">
                                    <option value="" selected disabled hidden>Employee Department</option>
                                    <option *ngFor="let department of departments" [ngValue]="department">
                                        {{ department.name }}
                                    </option>
                                </select>
                                <div *ngIf="department.invalid && (department.dirty || department.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="department.errors.required">
                                        Department is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="position">Employee Position</label>
                                <select formControlName="position" class="form-control">
                                    <option value="" selected disabled hidden>Employee Position</option>
                                    <option *ngFor="let position of positions" [ngValue]="position">
                                        {{ position.name }}
                                    </option>
                                </select>
                                <div *ngIf="position.invalid && (position.dirty || position.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="position.errors.required">
                                        Position is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rate">Employee Rate</label>
                                <select formControlName="rate" class="form-control">
                                    <option value="FULL_RATE">Full Rate</option>
                                    <option value="HALF_RATE">Half Rate</option>
                                    <option value="QUARTER_RATE">Quarter Rate</option>
                                </select>
                                <div *ngIf="rate.invalid && (rate.dirty || rate.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="rate.errors.required">
                                        Rate is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="employee-add-modal-close">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Employee Edit Modal Form -->
<div class="modal draggable fade bd-example-modal-lg" id="editEmployeeModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Edit Employee: {{ editedEmployeeName }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div>
                    <form [formGroup]="employeeEditFormGroup" (ngSubmit)="onUpdateEmployee()">
                        <div formGroupName="employee" class="text-left">
                            <div class="form-group">
                                <input formControlName="id" type="hidden">
                            </div>
                            <div class="form-group">
                                <label for="nameEdited">Employee Name</label>
                                <input formControlName="nameEdited" type="text" class="form-control"
                                    placeholder="Employee name">
                                <div *ngIf="nameEdited.invalid && (nameEdited.dirty || nameEdited.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="nameEdited.errors.required || nameEdited.errors.notOnlyWhitespace">
                                        Name is required
                                    </div>
                                    <div *ngIf="nameEdited.errors.minlength">
                                        Name must be at least 4 characters long
                                    </div>
                                    <div *ngIf="nameEdited.errors.maxlength">
                                        Name must be no more than 70 characters long
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentEdited">Employee Department</label>
                                <select formControlName="departmentEdited" class="form-control" (change)="getPositionsForEditForm()">
                                    <option value="" selected disabled hidden>Employee Department</option>
                                    <option *ngFor="let department of departments" [ngValue]="department">
                                        {{ department.name }}
                                    </option>
                                </select>
                                <div *ngIf="departmentEdited.invalid && (departmentEdited.dirty || departmentEdited.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="departmentEdited.errors.required">
                                        Department is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="positionEdited">Employee Position</label>
                                <select formControlName="positionEdited" class="form-control">
                                    <option value="" selected disabled hidden>Employee Position</option>
                                    <option *ngFor="let position of positions" [ngValue]="position">
                                        {{ position.name }}
                                    </option>
                                </select>
                                <div *ngIf="positionEdited.invalid && (positionEdited.dirty || positionEdited.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="positionEdited.errors.required">
                                        Position is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rateEdited">Employee Rate</label>
                                <select formControlName="rateEdited" class="form-control">
                                    <option value="FULL_RATE">Full Rate</option>
                                    <option value="HALF_RATE">Half Rate</option>
                                    <option value="QUARTER_RATE">Quarter Rate</option>
                                </select>
                                <div *ngIf="rateEdited.invalid && (rateEdited.dirty || rateEdited.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="rateEdited.errors.required">
                                        Rate is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    id="employee-edit-modal-close">Close</button>
            </div>
        </div>
    </div>
</div>